/*
=======================================================================
[Table of contents]
=========================================================================
01. COMMON STYLES 
02. HEADER 
03. NAV 
04. WELCOME SECTION 
*/

/*---------------------------------------
COMMON STYLES             
-----------------------------------------*/

*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 14px;
    font-family: 'AvantGarde-Book';
}
a:hover, a:focus {
    box-shadow: 0 0px transparent;
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.no-padding-left{
    padding-left: 0;
}
.no-padding-right{
    padding-right: 0;

}

.bgBlack{
    background: black;
}

/*---------------------------------------
    HEADER       
-----------------------------------------*/
.banner_area{
    position: relative;
}
.banner_area img{
    width: 100%;
}
.banner_area{}
.banner_area .home_menu_inner{
    width: 60%;
    text-align: right;
    padding: 15px 15px 30px;
    position: absolute;
    top: 20%;
    right: 0;
    text-align: left; 
}

.welcome_text{
    background: #000;
    width: 60%;
    text-align: right;
    padding: 15px 15px 30px;
    position: absolute;
    bottom: -80px;
    left: 0;
}
.welcome_text_inner{}
.welcome_text_inner img{
    width: auto;
}
.welcome_text_inner p{
    color: #969696;
    font-family: 'AvantGarde-Demi';
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 6.17px;
}
.welcome_text_inner p{}

.logosa{
    width: 230px;
}
footer .logosa {
    width: 150px;
    padding-bottom: 10px;
}
.welcome_text_inner .logosa{
    width: 230px;

}
/*---------------------------------------
    HOME DESCRIPTION STYLES             
-----------------------------------------*/
.home_description{
    padding: 250px 0px;
    background: url(../images/homepage-2-puntoseta.jpg) no-repeat;
    background-size: cover;
    margin-top: 50px
}
.home_description p{
    color: #000000;
    font-family: 'AvantGarde-Demi';
    font-size: 29px;
    font-weight: 400;
    letter-spacing: 1.52px;
    width: 50%;
    float: right;
}


/*---------------------------------------
    HOME MENU STYLES             
-----------------------------------------*/

.main_home_menu_area .home_menu_area{
    padding: 100px 0px;
    background: url(../images/homepage-3-puntoseta.jpg) no-repeat;
    background-size: cover;
    margin-top: 50px;
}
.home_menu_area{
    padding: 100px 0px;
    background: url(../images/homepage-3-puntoseta.jpg) no-repeat;
    background-size: cover;
    margin-top: 0px;
}
.home_menu_area{}
.home_menu_inner{

}
.home_menu_inner ul{
    width: 50%;
    float: right;

}
.home_menu_inner ul li{
    display: block;
    margin-bottom: 15px;
}
.home_menu_inner ul li a{
    color: #fff;
    font-family: 'AvantGarde-Demi';
    font-size: 29px;
    font-weight: 400;
    letter-spacing: 1.52px;
    display: block;
    background: #000;
    padding: 20px;
}



/*---------------------------------------
    FOOTER STYLES             
-----------------------------------------*/
.footer_area{
    text-align: center;

    margin-top: 50px;
    padding: 30px 0px;
}
.footer_bg{
    background: #000;
}
.footer_inner p{
    color: #8e979b;
    font-family: 'AvantGarde-Book';
    font-size: 14px;
    font-weight: 400;
}
.footer_inner p a{
    color: #8e979b;
}
.transparent_bg_footer{
    background: transparent url(../images/footer-bg.png) no-repeat;
    background-size: cover;
}
.transparent_bg_footer {}
@media(max-width: 767px){
    .home_description p {
        color: #000000;
        font-family: 'AvantGarde-Demi';
        font-size: 29px;
        font-weight: 400;
        letter-spacing: 1.52px;
        width: 100%;
        float: right;
        padding: 15px;
    }
    .home_menu_inner ul {
        width: 100%;
        float: right;
    }
    .welcome_text {
        background: #000;
        width: 80%;
        text-align: right;
        padding: 15px 15px 30px;
        position: absolute;
        bottom: -80px;
        left: 0;
    }
    .home_description {
        padding: 70px 0px;
        background-size: cover;
        margin-top: 50px;
    }
}

/*******************************************
    COMMON STYLES             
********************************************/
.contact_area{}
.contact_logo{
    margin: 50px 0px;
}
.contact_area p {
    color: #969696;
    font-family: 'AvantGarde-Demi';
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.5px;
}
.contact_area p a{
    color: #969696;
}
.contact_logo span{
    color: #969696;
    font-family: 'AvantGarde-Demi';
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
    position: relative;
    top: 10px;
    left: 10px;
}
.contact_logo h2{
    color: #969696;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4.21px;
    font-family: 'AvantGarde-Demi';
    margin-top: 50px;
}
.contact_area .social{}
.contact_area .social a{
        color: #969696;
    font-family: 'AvantGarde-Demi';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    padding: 8px 0px;
    display: block;
}
.contact_area .social a i{
        font-size: 28px;
        margin-right: 10px;
}
.map_area{
    margin: 50px 0px 0px;
}
#map{
    height: 450px;
}


/*******************************************
    GALLERY STYLES             
********************************************/
.gallery_area{}
.gallery_area{}
.gallery2_area .no-padding {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.gallery2_area .flip-box {
  background-color: transparent;
  width: 100%;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin-bottom: 15px;
}
.gallery2_area{}
.flip-box {
  background-color: transparent;
  width: 100%;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
}
.flip-box-front span{
    transform: rotate(270deg);
    transform-origin: left top;
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    left: 0;
    letter-spacing:4px;
    padding: 15px 22px;
    z-index: 4;
}

@-moz-document url-prefix() {
    .flip-box-front span {
        margin-top: 304px;
    }

}
.flip-box-front img{
  width: 100%;
  height: 100%;
}
.flip-box-front:after{
    display: block;
    position: relative;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0, #292929 100%);
    margin-top: 0px;
    height: 150px;
    width: 298px;
    content: '';
    transform: rotate(270deg);
    transform-origin: left top;
    z-index: 3;
}
.flip-box-back {
  background-color: #000;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
    z-index: 5;
}
.flip-box-back p{
    margin-bottom: 0;
}



.black_box {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 258px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 4px;
}

.black_box_inner p {
    margin-bottom: 0;
}

.staff_menu_area{
    padding: 150px 0px;
    background: url(../images/staff-puntoseta.jpg) no-repeat;
    background-size: cover;
    margin-top: 0px;
    background-position: center;
}
.collaboraiton_menu{
        padding: 150px 0px;
    background: url(../images/collaborations-puntoseta.jpg) no-repeat;
    background-size: cover;
    margin-top: 0px;
    background-position: top center;
}
.collaboraiton_menu{}