@font-face {
    font-family: 'AvantGarde-Book';
    src: url('AvantGarde-Book.eot');
    src: url('AvantGarde-Book.eot?#iefix') format('embedded-opentype'),
        url('AvantGarde-Book.woff2') format('woff2'),
        url('AvantGarde-Book.woff') format('woff'),
        url('AvantGarde-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGarde-Demi';
    src: url('AvantGarde-Demi.eot');
    src: url('AvantGarde-Demi.eot?#iefix') format('embedded-opentype'),
        url('AvantGarde-Demi.woff2') format('woff2'),
        url('AvantGarde-Demi.woff') format('woff'),
        url('AvantGarde-Demi.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

